In [ ]:
import os
import pandas as pd

# file = pd.read_excel("UN_MigrantStockByOriginAndDestination_2017.xlsx");

df = pd.read_excel("UN_MigrantStockByOriginAndDestination_2017.xlsx", sheet_name = "Table 1", header=15)
pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 150)

In [ ]:
pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 150)

In [ ]:
df.head()

   Unnamed: 0  Unnamed: 1  ... Zambia Zimbabwe
0      1990.0   1990001.0  ...  83210   176697
1      1990.0   1990002.0  ...  25922    40832
2      1990.0   1990003.0  ...  57288   135865
3      1990.0   1990004.0  ...  25400    47578
4      1990.0   1990005.0  ...  31888    88287

[5 rows x 241 columns]

In [ ]:
countries_names = df.columns.values[9:]

In [ ]:
countries_migration = df.loc[df["Unnamed: 2"].isin(countries_names)]

In [ ]:
countries_migration.head()

    Unnamed: 0  Unnamed: 1 Unnamed: 2  ... Yemen  Zambia Zimbabwe
13      1990.0   1990014.0    Burundi  ...    ..      ..       ..
14      1990.0   1990015.0    Comoros  ...    ..      ..       ..
15      1990.0   1990016.0   Djibouti  ...   289      ..       ..
16      1990.0   1990017.0    Eritrea  ...    ..      91       82
17      1990.0   1990018.0   Ethiopia  ...    68      ..       ..

[5 rows x 241 columns]

In [ ]:
# print("" + countries_migration["Burundi"].sum())
count = countries_migration[countries_migration['Ethiopia'] != ".."]['Ethiopia'].sum()
print(count)

5650703

In [ ]:
countries_1990 = countries_migration.loc[countries_migration["Unnamed: 0"] == 1990.0]

In [ ]:
countries_df = []
years = [1990.0, 1995.0, 2000.0, 2005.0, 2010.0, 2015.0, 2017.0]

for year in years:
  df_temp = countries_migration.loc[countries_migration["Unnamed: 0"] == year]
  df_temp = df_temp.sort_values("Unnamed: 2")
  df_temp = df_temp[countries_names]
  countries_df.append(df_temp)

In [ ]:
pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 150)

for i, country in enumerate(countries_df):
  # print(count.isin(['..']).sum(axis=0))
  # print(country[country[countries_names] == ".."].count())

  print(years[i], country.size - country.stack().value_counts()[".."])
  # print(count[~count.isin([".."]).sum(axis=0)])
  # print(count.apply(pd.value_counts))

1990.0 10317
1995.0 10568
2000.0 10559
2005.0 10793
2010.0 11095
2015.0 11172
2017.0 11137

In [ ]:
df[".."].count()

KeyError: ignored

In [ ]:
countries_1990 = countries_1990.sort_values("Unnamed: 2")
countries_1990.head()

     Unnamed: 0  Unnamed: 1      Unnamed: 2  ... Yemen  Zambia Zimbabwe
91       1990.0   1990092.0     Afghanistan  ...    ..      ..       ..
158      1990.0   1990159.0         Albania  ...    ..      ..       ..
44       1990.0   1990045.0         Algeria  ...  2593      ..       ..
261      1990.0   1990262.0  American Samoa  ...    ..      ..       ..
159      1990.0   1990160.0         Andorra  ...    ..      ..       ..

[5 rows x 241 columns]

In [ ]:
countries_1995 = countries_migration.loc[countries_migration["Unnamed: 0"] == 1995.0]
countries_1995 = countries_1995.sort_values("Unnamed: 2")

In [ ]:
countries_2000 = countries_migration.loc[countries_migration["Unnamed: 0"] == 2000.0]
countries_2000 = countries_1995.sort_values("Unnamed: 2")

In [ ]:
countries_2005 = countries_migration.loc[countries_migration["Unnamed: 0"] == 2005.0]
countries_2 = countries_1995.sort_values("Unnamed: 2")

In [ ]:
countries_2010 = countries_migration.loc[countries_migration["Unnamed: 0"] == 2010.0]
countries_1995 = countries_1995.sort_values("Unnamed: 2")

In [ ]:
countries_2015 = countries_migration.loc[countries_migration["Unnamed: 0"] == 2015.0]
countries_1995 = countries_1995.sort_values("Unnamed: 2")

In [ ]:
countries_2017 = countries_migration.loc[countries_migration["Unnamed: 0"] == 2017.0]
countries_1995 = countries_1995.sort_values("Unnamed: 2")